

/**{
    outline-color: crimson;
}
*/



body{
    background-image: url('https://ak7.picdn.net/shutterstock/videos/10177472/thumb/4.jpg');
    background-attachment: fixed;
    background-size: cover;
}

#divLeft{
    margin-top: 5%;
    margin-bottom: 5%;
}


/*
using google fonts
font-family: 'Aref Ruqaa', serif;
font-family: 'Just Another Hand', cursive;
font-family: 'Merienda', cursive;
font-family: 'Allura', cursive;
font-family: 'Dawning of a New Day', cursive;
font-family: 'Swanky and Moo Moo', cursive;
*/


.Rugaa{
    font-family: 'Aref Ruqaa', serif;
}
.Hand{
    font-family: 'Just Another Hand', cursive;
}
.Merienda{
    font-family: 'Merienda', cursive;
}
.allura{
    font-family: 'Allura', cursive;
}
.NewDay{
    font-family: 'Dawning of a New Day', cursive;
}
.Swanky{
    font-family: 'Swanky and Moo Moo', cursive;
}


/*
For logo
*/
.logo{
    border-radius: 20%;
    width: 50%;
    height: 50%
}

#wakt{
    color: white;
}

.drop{
    display: none;
    position: absolute;
    width: 100%;
}
#notes:hover .drop{
    display: block;
    animation-duration: 2s;   
}

.drop a:hover, .drop a {
    text-decoration: none;
    color: #fff;
}
nav, .drop{
    box-shadow: 0 0 20px rgb(28, 33, 59);
}
.drop li{
    margin: 10px;
    list-style-type: none;
}
.drop ul{

}


#nav-footer{
    display: flex;
    width: 100%
}

#nav-footer li{
    margin: 0 auto;
    color: #fff;
}


