

/**{
    outline-color: crimson;
}
*/
html{
    scroll-behavior: smooth;
}

#notes ul{
    position: relative;
}

body{
    background-image: url('https://ak7.picdn.net/shutterstock/videos/10177472/thumb/4.jpg');
    background-attachment: fixed;
    background-size: cover;
}

#divLeft{
    margin-top: 5%;
    margin-bottom: 5%;
}


/*
using google fonts
font-family: 'Aref Ruqaa', serif;
font-family: 'Just Another Hand', cursive;
font-family: 'Merienda', cursive;
font-family: 'Allura', cursive;
font-family: 'Dawning of a New Day', cursive;
font-family: 'Swanky and Moo Moo', cursive;
*/


.Rugaa{
    font-family: 'Aref Ruqaa', serif;
}
.Hand{
    font-family: 'Just Another Hand', cursive;
}
.Merienda{
    font-family: 'Merienda', cursive;
}
.allura{
    font-family: 'Allura', cursive;
}
.NewDay{
    font-family: 'Dawning of a New Day', cursive;
}
.Swanky{
    font-family: 'Swanky and Moo Moo', cursive;
}


/*
For logo
*/
.logo{
    border-radius: 20%;
    width: 50%;
    height: 50%
}

#wakt{
    color: white;
}

.drop{
    display: none;
    position: absolute;
    width: 100%;
}
#notes:hover .drop{
    display: block;
    animation-duration: 2s;   
}

.drop a:hover, .drop a {
    text-decoration: none;
    color: #fff;
}
nav, .drop, #myCarousel{
    box-shadow: 0 0 20px rgb(28, 33, 59);
}
.drop li{
    margin: 10px;
    list-style-type: none;
}
.drop ul{

}

#me{
    display: none;
}

.glyphicon{
    margin-right: 8px;
    font-size: 12px;
}
#nav-footer{
    display: flex;
    width: 100%;
    margin: auto 0;
}

.flex-box{
    display: flex;
}

#nav-footer li{
    margin: 0 auto;
    color: #fff;
    display: flex;
}

#nav-footer span{
    color: #d7e8ec;
    padding: 0 4px;
}

.heart {
    display: flex;
    position: relative;
    font-size: 8px;
    text-align: center;
}
.heart:before,
.heart:after {
    position: absolute;
    content: '20';
    left: 15px;
    top: 0;
    width: 15px;
    height: 25px;
    background: rgb(178, 16, 16);
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.heart:after {
    left: 0;
    content: "18";
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}
